.vscode/*
ian-build-deps_*
*~
.pc
debian/tmp
debian/files
debian/*.log
debian/*.substvars
debian/.debhelper
debian/ian
debian/debhelper*
.vagrant/*
ian.1
examples/*.buildinfo
examples/hello-ian/content
examples/hello-ian/debian
