Source: hello-ian
Section: utils
Priority: optional
Maintainer: David Villa Alises <David.Villa@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), quilt
Standards-Version: 3.9.8

Package: hello-ian
Architecture: all
Depends: ${misc:Depends}
Description: FIXME: Short description of the hello-ian package
 FIXME: long description about the basic features of the hello-ian package
