Source: custom-rules
Section: utils
Priority: extra
Maintainer: David Villa Alises <David.Villa@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), quilt
Standards-Version: 3.9.8

Package: custom-rules
Architecture: all
Depends: ${misc:Depends}
Description: FIXME: Short description of the custom-rules package
 FIXME: long description about the basic features of the custom-rules package
